{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h3>Всем Добрый день!</h3>
<p><img src="{% static 'img/Cup.jpg' %}" width="200" height="222"</p>
<p>
В данный момент я работаю в ООН в ДРК и постоянное нахождение в дали от дома вынуждает
искать новые пути самореализации. Мои друзья посоветовали попробывать себя в IT, а конкретнее в Python.
Вот их совету я решил последовать.</p>
<p><a href="https://github.com/sanyadrian">Мои работы вы можете найти тут(GitHub)</a></p>
{% endblock %}